unterordner/workspace82/CampusConnect/src/com/webmethods/caf/is/wsclient/campusconnect/work/searchcourse/searchcourse_wsd_5/searchCourse_WSD_5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="searchCourse_WSD_5" targetNamespace="http://192.168.0.204/CampusConnect.work.searchCourse" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.searchCourse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.searchCourse" xmlns:tns="http://192.168.0.204/CampusConnect.work.searchCourse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="searchCourse" type="tns:searchCourse"/>
          <xsd:element name="searchCourseResponse" type="tns:searchCourseResponse"/>
          <xsd:complexType name="searchCourse">
            <xsd:sequence>
              <xsd:element name="searchString" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="searchCourseResponse">
            <xsd:sequence>
              <xsd:element name="courses" nillable="true" type="tns:courses"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="courses">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="course" nillable="true" type="tns:course"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="course">
            <xsd:sequence>
              <xsd:element name="_DEGREEPROGRAM" nillable="true" type="xsd:string"/>
              <xsd:element name="_EQUIVALENTID" nillable="true" type="xsd:string"/>
              <xsd:element name="_PROFESSORID" nillable="true" type="xsd:string"/>
              <xsd:element name="_COURSENAME" nillable="true" type="xsd:string"/>
              <xsd:element name="_TERM" nillable="true" type="xsd:string"/>
              <xsd:element name="_MAXPARTICIPANTS" nillable="true" type="xsd:string"/>
              <xsd:element name="_COURSEDAY" nillable="true" type="xsd:string"/>
              <xsd:element name="_COURSETIME" nillable="true" type="xsd:string"/>
              <xsd:element name="_COURSEROOM" nillable="true" type="xsd:string"/>
              <xsd:element name="_COURSEFINISH" nillable="true" type="xsd:string"/>
              <xsd:element name="_AMOUNTREGISTERED" nillable="true" type="xsd:string"/>
              <xsd:element name="_COURSEID" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="searchCourse_WSD_5_PortType_searchCourse">
    <wsdl:part name="parameters" element="tns:searchCourse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchCourse_WSD_5_PortType_searchCourseResponse">
    <wsdl:part name="parameters" element="tns:searchCourseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="searchCourse_WSD_5_PortType">
    <wsdl:operation name="searchCourse">
      <wsdl:input message="tns:searchCourse_WSD_5_PortType_searchCourse">
    </wsdl:input>
      <wsdl:output message="tns:searchCourse_WSD_5_PortType_searchCourseResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_searchCourse_searchCourse_WSD_5_Binder" type="tns:searchCourse_WSD_5_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchCourse">
      <soap:operation soapAction="CampusConnect_work_searchCourse_searchCourse_WSD_5_Binder_searchCourse" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.searchCourse.searchCourse_WSD_5">
    <wsdl:port name="CampusConnect_work_searchCourse_searchCourse_WSD_5_Port" binding="tns:CampusConnect_work_searchCourse_searchCourse_WSD_5_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.searchCourse.searchCourse_WSD_5/CampusConnect_work_searchCourse_searchCourse_WSD_5_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
