unterordner/workspace82/Support/src/com/webmethods/caf/is/wsclient/campusconnect/utils/exams/getexamfromcourse_wsd_hk1/getExamFromCourse_WSD_HK1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="getExamFromCourse_WSD_HK1" targetNamespace="http://192.168.0.204/CampusConnect.utils.exams:getExamFromCourse_WSD_HK1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.utils.exams:getExamFromCourse_WSD_HK1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.utils.exams:getExamFromCourse_WSD_HK1" xmlns:tns="http://192.168.0.204/CampusConnect.utils.exams:getExamFromCourse_WSD_HK1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="getExamFromCourse" type="tns:getExamFromCourse"/>
          <xsd:element name="getExamFromCourseResponse" type="tns:getExamFromCourseResponse"/>
          <xsd:complexType name="getExamFromCourse">
            <xsd:sequence>
              <xsd:element name="courseId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getExamFromCourseResponse">
            <xsd:sequence>
              <xsd:element name="outExams" nillable="true" type="tns:outExams"/>
              <xsd:element name="outExamId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="outExams">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="exam" nillable="true" type="tns:exam"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="exam">
            <xsd:sequence>
              <xsd:element name="_EXAMID" nillable="true" type="xsd:string"/>
              <xsd:element name="examtype" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getExamFromCourse_WSD_HK1_PortType_getExamFromCourseResponse">
    <wsdl:part name="parameters" element="tns:getExamFromCourseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExamFromCourse_WSD_HK1_PortType_getExamFromCourse">
    <wsdl:part name="parameters" element="tns:getExamFromCourse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="getExamFromCourse_WSD_HK1_PortType">
    <wsdl:operation name="getExamFromCourse">
      <wsdl:input message="tns:getExamFromCourse_WSD_HK1_PortType_getExamFromCourse">
    </wsdl:input>
      <wsdl:output message="tns:getExamFromCourse_WSD_HK1_PortType_getExamFromCourseResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_utils_exams_getExamFromCourse_WSD_HK1_Binder" type="tns:getExamFromCourse_WSD_HK1_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getExamFromCourse">
      <soap:operation soapAction="CampusConnect_utils_exams_getExamFromCourse_WSD_HK1_Binder_getExamFromCourse" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.utils.exams.getExamFromCourse_WSD_HK1">
    <wsdl:port name="CampusConnect_utils_exams_getExamFromCourse_WSD_HK1_Port" binding="tns:CampusConnect_utils_exams_getExamFromCourse_WSD_HK1_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.utils.exams.getExamFromCourse_WSD_HK1/CampusConnect_utils_exams_getExamFromCourse_WSD_HK1_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
