unterordner/workspace82/CampusConnect/src/com/webmethods/caf/is/wsclient/campusconnect/work/examderegistration/studexam_wsd_hk1/studExam_WSD_HK1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="studExam_WSD_HK1" targetNamespace="http://192.168.0.204/CampusConnect.work.examDeregistration:studExam_WSD_HK1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.examDeregistration:studExam_WSD_HK1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.examDeregistration:studExam_WSD_HK1" xmlns:tns="http://192.168.0.204/CampusConnect.work.examDeregistration:studExam_WSD_HK1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="studExamsList" type="tns:studExamsList"/>
          <xsd:element name="studExamsListResponse" type="tns:studExamsListResponse"/>
          <xsd:complexType name="studExamsList">
            <xsd:sequence>
              <xsd:element name="studId" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="studExamsListResponse">
            <xsd:sequence>
              <xsd:element name="outExams" nillable="true" type="tns:outExams"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="outExams">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="exam" nillable="true" type="tns:exam"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="exam">
            <xsd:sequence>
              <xsd:element name="_COURSEID" nillable="true" type="xsd:string"/>
              <xsd:element name="_PROFESSORID" nillable="true" type="xsd:string"/>
              <xsd:element name="_EXAMDATE" nillable="true" type="xsd:string"/>
              <xsd:element name="_EXAMTIME" nillable="true" type="xsd:string"/>
              <xsd:element name="_EXAMROOM" nillable="true" type="xsd:string"/>
              <xsd:element name="_AMOUNTREGISTERED" nillable="true" type="xsd:string"/>
              <xsd:element name="_EQUIVALENTID" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="studExam_WSD_HK1_PortType_studExamsListResponse">
    <wsdl:part name="parameters" element="tns:studExamsListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="studExam_WSD_HK1_PortType_studExamsList">
    <wsdl:part name="parameters" element="tns:studExamsList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="studExam_WSD_HK1_PortType">
    <wsdl:operation name="studExamsList">
      <wsdl:input message="tns:studExam_WSD_HK1_PortType_studExamsList">
    </wsdl:input>
      <wsdl:output message="tns:studExam_WSD_HK1_PortType_studExamsListResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_examDeregistration_studExam_WSD_HK1_Binder" type="tns:studExam_WSD_HK1_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="studExamsList">
      <soap:operation soapAction="CampusConnect_work_examDeregistration_studExam_WSD_HK1_Binder_studExamsList" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.examDeregistration.studExam_WSD_HK1">
    <wsdl:port name="CampusConnect_work_examDeregistration_studExam_WSD_HK1_Port" binding="tns:CampusConnect_work_examDeregistration_studExam_WSD_HK1_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.examDeregistration.studExam_WSD_HK1/CampusConnect_work_examDeregistration_studExam_WSD_HK1_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
