unterordner/CampusConnect/src/com/webmethods/caf/is/wsclient/campusconnect/work/enrolment/showenrolledstuds_wsd/showEnrolledStuds_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="showEnrolledStuds_WSD" targetNamespace="http://192.168.0.204/CampusConnect.work.enrolment:showEnrolledStuds_WSD" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.enrolment:showEnrolledStuds_WSD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.enrolment:showEnrolledStuds_WSD" xmlns:tns="http://192.168.0.204/CampusConnect.work.enrolment:showEnrolledStuds_WSD" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="showEnrolledStuds" type="tns:showEnrolledStuds"/>
          <xsd:element name="showEnrolledStudsResponse" type="tns:showEnrolledStudsResponse"/>
          <xsd:complexType name="showEnrolledStuds">
            <xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="showEnrolledStudsResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="studDetails" nillable="true" type="tns:studDetails"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="studDetails">
            <xsd:sequence>
              <xsd:element name="studId" nillable="true" type="xsd:string"/>
              <xsd:element name="firstName" nillable="true" type="xsd:string"/>
              <xsd:element name="lastName" nillable="true" type="xsd:string"/>
              <xsd:element name="degreeProgram" nillable="true" type="xsd:string"/>
              <xsd:element name="registered" nillable="true" type="xsd:string"/>
              <xsd:element name="active" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="showEnrolledStuds_WSD_PortType_showEnrolledStudsResponse">
    <wsdl:part name="parameters" element="tns:showEnrolledStudsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="showEnrolledStuds_WSD_PortType_showEnrolledStuds">
    <wsdl:part name="parameters" element="tns:showEnrolledStuds">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="showEnrolledStuds_WSD_PortType">
    <wsdl:operation name="showEnrolledStuds">
      <wsdl:input message="tns:showEnrolledStuds_WSD_PortType_showEnrolledStuds">
    </wsdl:input>
      <wsdl:output message="tns:showEnrolledStuds_WSD_PortType_showEnrolledStudsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_enrolment_showEnrolledStuds_WSD_Binder" type="tns:showEnrolledStuds_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="showEnrolledStuds">
      <soap:operation soapAction="CampusConnect_work_enrolment_showEnrolledStuds_WSD_Binder_showEnrolledStuds" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.enrolment.showEnrolledStuds_WSD">
    <wsdl:port name="CampusConnect_work_enrolment_showEnrolledStuds_WSD_Port" binding="tns:CampusConnect_work_enrolment_showEnrolledStuds_WSD_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.enrolment.showEnrolledStuds_WSD/CampusConnect_work_enrolment_showEnrolledStuds_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
