unterordner/workspace82/CampusConnect/src/com/webmethods/caf/is/wsclient/campusconnect/work/courseregistration/registercoursestest/registercoursestest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="registercoursestest" targetNamespace="http://192.168.0.204/CampusConnect.work.courseRegistration:registercoursestest" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.courseRegistration:registercoursestest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.courseRegistration:registercoursestest" xmlns:tns="http://192.168.0.204/CampusConnect.work.courseRegistration:registercoursestest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="registerCoursesInput" type="tns:registerCoursesInput"/>
          <xsd:element name="registerCoursesOutput" type="tns:registerCoursesOutput"/>
          <xsd:complexType name="registerCoursesInput">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="inputCourses" type="xsd:string"/>
              <xsd:element name="studId" type="tns:studId"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:simpleType name="studId">
            <xsd:restriction base="xsd:decimal">
              <xsd:minInclusive value="1000001"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:complexType name="registerCoursesOutput">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="output" nillable="true" type="tns:registeredCourses"/>
              <xsd:element name="hidden" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="registeredCourses">
            <xsd:sequence>
              <xsd:element name="courseId" nillable="true" type="xsd:string"/>
              <xsd:element name="courseName" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="registercoursestest_PortType_registerCoursesInput">
    <wsdl:part name="parameters" element="tns:registerCoursesInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registercoursestest_PortType_registerCoursesOutput">
    <wsdl:part name="parameters" element="tns:registerCoursesOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="registercoursestest_PortType">
    <wsdl:operation name="registerCourses">
      <wsdl:input message="tns:registercoursestest_PortType_registerCoursesInput">
    </wsdl:input>
      <wsdl:output message="tns:registercoursestest_PortType_registerCoursesOutput">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_courseRegistration_registercoursestest_Binder" type="tns:registercoursestest_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registerCourses">
      <soap:operation soapAction="CampusConnect_work_courseRegistration_registercoursestest_Binder_registerCourses" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.courseRegistration.registercoursestest">
    <wsdl:port name="CampusConnect_work_courseRegistration_registercoursestest_Port" binding="tns:CampusConnect_work_courseRegistration_registercoursestest_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.courseRegistration.registercoursestest/CampusConnect_work_courseRegistration_registercoursestest_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
