unterordner/CampusConnect/src/com/webmethods/caf/is/wsclient/campusconnect/work/editpersonaldatastud/savepersonaldatastudwsd/savePersonalDataStudwsd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="savePersonalDataStudwsd" targetNamespace="http://192.168.0.204/CampusConnect.work.editPersonalDataStud:savePersonalDataStudwsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.editPersonalDataStud:savePersonalDataStudwsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.editPersonalDataStud:savePersonalDataStudwsd" xmlns:tns="http://192.168.0.204/CampusConnect.work.editPersonalDataStud:savePersonalDataStudwsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="savePersonalDataStud" type="tns:savePersonalDataStud"/>
          <xsd:element name="savePersonalDataStudResponse" type="tns:savePersonalDataStudResponse"/>
          <xsd:complexType name="savePersonalDataStud">
            <xsd:sequence>
              <xsd:element name="studInfo" nillable="true" type="tns:studInfo"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="studInfo">
            <xsd:sequence>
              <xsd:element name="addressLine1" nillable="true" type="xsd:string"/>
              <xsd:element name="addressLine2" nillable="true" type="xsd:string"/>
              <xsd:element name="studId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="savePersonalDataStudResponse">
            <xsd:sequence>
              <xsd:element name="outputMessage" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="savePersonalDataStudwsd_PortType_savePersonalDataStud">
    <wsdl:part name="parameters" element="tns:savePersonalDataStud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="savePersonalDataStudwsd_PortType_savePersonalDataStudResponse">
    <wsdl:part name="parameters" element="tns:savePersonalDataStudResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="savePersonalDataStudwsd_PortType">
    <wsdl:operation name="savePersonalDataStud">
      <wsdl:input message="tns:savePersonalDataStudwsd_PortType_savePersonalDataStud">
    </wsdl:input>
      <wsdl:output message="tns:savePersonalDataStudwsd_PortType_savePersonalDataStudResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_editPersonalDataStud_savePersonalDataStudwsd_Binder" type="tns:savePersonalDataStudwsd_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="savePersonalDataStud">
      <soap:operation soapAction="CampusConnect_work_editPersonalDataStud_savePersonalDataStudwsd_Binder_savePersonalDataStud" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.editPersonalDataStud.savePersonalDataStudwsd">
    <wsdl:port name="CampusConnect_work_editPersonalDataStud_savePersonalDataStudwsd_Port" binding="tns:CampusConnect_work_editPersonalDataStud_savePersonalDataStudwsd_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.editPersonalDataStud.savePersonalDataStudwsd/CampusConnect_work_editPersonalDataStud_savePersonalDataStudwsd_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
