unterordner/workspace82/Support/src/com/webmethods/caf/is/wsclient/campusconnect/work/examderegistration/deregisterexam_wsd_hk1/deregisterExam_WSD_HK1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="deregisterExam_WSD_HK1" targetNamespace="http://192.168.0.204/CampusConnect.work.examDeregistration:deregisterExam_WSD_HK1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.examDeregistration:deregisterExam_WSD_HK1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.examDeregistration:deregisterExam_WSD_HK1" xmlns:tns="http://192.168.0.204/CampusConnect.work.examDeregistration:deregisterExam_WSD_HK1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="deregisterExam" type="tns:deregisterExam"/>
          <xsd:element name="deregisterExamResponse" type="tns:deregisterExamResponse"/>
          <xsd:complexType name="deregisterExam">
            <xsd:sequence>
              <xsd:element name="examId" nillable="true" type="xsd:string"/>
              <xsd:element name="studId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="deregisterExamResponse">
            <xsd:sequence>
              <xsd:element name="outputMessage" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="deregisterExam_WSD_HK1_PortType_deregisterExam">
    <wsdl:part name="parameters" element="tns:deregisterExam">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deregisterExam_WSD_HK1_PortType_deregisterExamResponse">
    <wsdl:part name="parameters" element="tns:deregisterExamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="deregisterExam_WSD_HK1_PortType">
    <wsdl:operation name="deregisterExam">
      <wsdl:input message="tns:deregisterExam_WSD_HK1_PortType_deregisterExam">
    </wsdl:input>
      <wsdl:output message="tns:deregisterExam_WSD_HK1_PortType_deregisterExamResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_examDeregistration_deregisterExam_WSD_HK1_Binder" type="tns:deregisterExam_WSD_HK1_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deregisterExam">
      <soap:operation soapAction="CampusConnect_work_examDeregistration_deregisterExam_WSD_HK1_Binder_deregisterExam" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.examDeregistration.deregisterExam_WSD_HK1">
    <wsdl:port name="CampusConnect_work_examDeregistration_deregisterExam_WSD_HK1_Port" binding="tns:CampusConnect_work_examDeregistration_deregisterExam_WSD_HK1_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.examDeregistration.deregisterExam_WSD_HK1/CampusConnect_work_examDeregistration_deregisterExam_WSD_HK1_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
