unterordner/CampusConnect/src/com/webmethods/caf/is/wsclient/campusconnect/work/examregistration/registerexam_wsd/registerExam_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="registerExam_WSD" targetNamespace="http://192.168.0.204/CampusConnect.work.examRegistration:registerExam_WSD" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.examRegistration:registerExam_WSD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.examRegistration:registerExam_WSD" xmlns:tns="http://192.168.0.204/CampusConnect.work.examRegistration:registerExam_WSD" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="registerExam" type="tns:registerExam"/>
          <xsd:element name="registerExamResponse" type="tns:registerExamResponse"/>
          <xsd:complexType name="registerExam">
            <xsd:sequence>
              <xsd:element name="courseId" nillable="true" type="xsd:string"/>
              <xsd:element name="studId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="registerExamResponse">
            <xsd:sequence>
              <xsd:element name="outputMessage" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="registerExam_WSD_PortType_registerExamResponse">
    <wsdl:part name="parameters" element="tns:registerExamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerExam_WSD_PortType_registerExam">
    <wsdl:part name="parameters" element="tns:registerExam">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="registerExam_WSD_PortType">
    <wsdl:operation name="registerExam">
      <wsdl:input message="tns:registerExam_WSD_PortType_registerExam">
    </wsdl:input>
      <wsdl:output message="tns:registerExam_WSD_PortType_registerExamResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_examRegistration_registerExam_WSD_Binder" type="tns:registerExam_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registerExam">
      <soap:operation soapAction="CampusConnect_work_examRegistration_registerExam_WSD_Binder_registerExam" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.examRegistration.registerExam_WSD">
    <wsdl:port name="CampusConnect_work_examRegistration_registerExam_WSD_Port" binding="tns:CampusConnect_work_examRegistration_registerExam_WSD_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.examRegistration.registerExam_WSD/CampusConnect_work_examRegistration_registerExam_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
