unterordner/workspace82/CampusConnect_HK/src/com/webmethods/caf/is/wsclient/campusconnect/utils/courses/listcoursessingleprof_wsd_hk1/listCoursesSingleProf_WSD_HK1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="listCoursesSingleProf_WSD_HK1" targetNamespace="http://192.168.0.204/CampusConnect.utils.courses:listCoursesSingleProf_WSD_HK1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.utils.courses:listCoursesSingleProf_WSD_HK1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.utils.courses:listCoursesSingleProf_WSD_HK1" xmlns:tns="http://192.168.0.204/CampusConnect.utils.courses:listCoursesSingleProf_WSD_HK1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="listCoursesSingleProf" type="tns:listCoursesSingleProf"/>
          <xsd:element name="listCoursesSingleProfResponse" type="tns:listCoursesSingleProfResponse"/>
          <xsd:complexType name="listCoursesSingleProf">
            <xsd:sequence>
              <xsd:element name="ProfId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="listCoursesSingleProfResponse">
            <xsd:sequence>
              <xsd:element name="courses" nillable="true" type="tns:courses"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="courses">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="course" nillable="true" type="tns:course"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="course">
            <xsd:sequence>
              <xsd:element name="_DEGREEPROGRAM" type="xsd:string"/>
              <xsd:element name="_EQUIVALENTID" type="xsd:decimal"/>
              <xsd:element name="_PROFESSORID" type="xsd:decimal"/>
              <xsd:element name="_COURSENAME" type="xsd:string"/>
              <xsd:element name="_TERM" type="xsd:string"/>
              <xsd:element name="_MAXPARTICIPANTS" type="xsd:decimal"/>
              <xsd:element name="_COURSEDAY" type="xsd:string"/>
              <xsd:element name="_COURSETIME" type="xsd:string"/>
              <xsd:element name="_COURSEROOM" type="xsd:string"/>
              <xsd:element name="_COURSEFINISH" type="xsd:decimal"/>
              <xsd:element name="_AMOUNTREGISTERED" type="xsd:decimal"/>
              <xsd:element name="_COURSEID" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="listCoursesSingleProf_WSD_HK1_PortType_listCoursesSingleProfResponse">
    <wsdl:part name="parameters" element="tns:listCoursesSingleProfResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listCoursesSingleProf_WSD_HK1_PortType_listCoursesSingleProf">
    <wsdl:part name="parameters" element="tns:listCoursesSingleProf">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="listCoursesSingleProf_WSD_HK1_PortType">
    <wsdl:operation name="listCoursesSingleProf">
      <wsdl:input message="tns:listCoursesSingleProf_WSD_HK1_PortType_listCoursesSingleProf">
    </wsdl:input>
      <wsdl:output message="tns:listCoursesSingleProf_WSD_HK1_PortType_listCoursesSingleProfResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_utils_courses_listCoursesSingleProf_WSD_HK1_Binder" type="tns:listCoursesSingleProf_WSD_HK1_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listCoursesSingleProf">
      <soap:operation soapAction="CampusConnect_utils_courses_listCoursesSingleProf_WSD_HK1_Binder_listCoursesSingleProf" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.utils.courses.listCoursesSingleProf_WSD_HK1">
    <wsdl:port name="CampusConnect_utils_courses_listCoursesSingleProf_WSD_HK1_Port" binding="tns:CampusConnect_utils_courses_listCoursesSingleProf_WSD_HK1_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.utils.courses.listCoursesSingleProf_WSD_HK1/CampusConnect_utils_courses_listCoursesSingleProf_WSD_HK1_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
