unterordner/workspace82/TestPortletProject/src/com/webmethods/caf/is/wsclient/campusconnect/work/administration/editstudent2_wsd_hk1/editStudent2_WSD_HK1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="editStudent2_WSD_HK1" targetNamespace="http://192.168.0.204/CampusConnect.work.administration:editStudent2_WSD_HK1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.administration:editStudent2_WSD_HK1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.administration:editStudent2_WSD_HK1" xmlns:tns="http://192.168.0.204/CampusConnect.work.administration:editStudent2_WSD_HK1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="editStudent2" type="tns:editStudent2"/>
          <xsd:element name="editStudent2Response" type="tns:editStudent2Response"/>
          <xsd:complexType name="editStudent2">
            <xsd:sequence>
              <xsd:element name="_STUDENTID" type="xsd:decimal"/>
              <xsd:element name="_ADDRESSLINE1" type="xsd:string"/>
              <xsd:element name="_ADDRESSLINE2" type="xsd:string"/>
              <xsd:element name="_EMAIL" type="xsd:string"/>
              <xsd:element name="_PHONE" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="editStudent2Response">
            <xsd:sequence>
              <xsd:element name="message" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="editStudent2_WSD_HK1_PortType_editStudent2">
    <wsdl:part name="parameters" element="tns:editStudent2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editStudent2_WSD_HK1_PortType_editStudent2Response">
    <wsdl:part name="parameters" element="tns:editStudent2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="editStudent2_WSD_HK1_PortType">
    <wsdl:operation name="editStudent2">
      <wsdl:input message="tns:editStudent2_WSD_HK1_PortType_editStudent2">
    </wsdl:input>
      <wsdl:output message="tns:editStudent2_WSD_HK1_PortType_editStudent2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_administration_editStudent2_WSD_HK1_Binder" type="tns:editStudent2_WSD_HK1_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="editStudent2">
      <soap:operation soapAction="CampusConnect_work_administration_editStudent2_WSD_HK1_Binder_editStudent2" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.administration.editStudent2_WSD_HK1">
    <wsdl:port name="CampusConnect_work_administration_editStudent2_WSD_HK1_Port" binding="tns:CampusConnect_work_administration_editStudent2_WSD_HK1_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.administration.editStudent2_WSD_HK1/CampusConnect_work_administration_editStudent2_WSD_HK1_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
