unterordner/workspace82/CampusConnect/src/com/webmethods/caf/is/wsclient/campusconnect/work/coursederegistration/deregistercourses_wsd/deregisterCourses_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="deregisterCourses_WSD" targetNamespace="http://192.168.0.204/CampusConnect.work.courseDeregistration:deregisterCourses_WSD" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.courseDeregistration:deregisterCourses_WSD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.courseDeregistration:deregisterCourses_WSD" xmlns:tns="http://192.168.0.204/CampusConnect.work.courseDeregistration:deregisterCourses_WSD" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="deregisterCourses" type="tns:deregisterCourses"/>
          <xsd:element name="deregisterCoursesResponse" type="tns:deregisterCoursesResponse"/>
          <xsd:complexType name="deregisterCourses">
            <xsd:sequence>
              <xsd:element name="studId" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" name="courseIds" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="deregisterCoursesResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="deletedCourses" nillable="true" type="tns:deletedCourses"/>
              <xsd:element name="message" nillable="true" type="xsd:string"/>
              <xsd:element name="hidden" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="deletedCourses">
            <xsd:sequence>
              <xsd:element name="courseId" nillable="true" type="xsd:string"/>
              <xsd:element name="courseName" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="deregisterCourses_WSD_PortType_deregisterCourses">
    <wsdl:part name="parameters" element="tns:deregisterCourses">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deregisterCourses_WSD_PortType_deregisterCoursesResponse">
    <wsdl:part name="parameters" element="tns:deregisterCoursesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="deregisterCourses_WSD_PortType">
    <wsdl:operation name="deregisterCourses">
      <wsdl:input message="tns:deregisterCourses_WSD_PortType_deregisterCourses">
    </wsdl:input>
      <wsdl:output message="tns:deregisterCourses_WSD_PortType_deregisterCoursesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_courseDeregistration_deregisterCourses_WSD_Binder" type="tns:deregisterCourses_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deregisterCourses">
      <soap:operation soapAction="CampusConnect_work_courseDeregistration_deregisterCourses_WSD_Binder_deregisterCourses" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.courseDeregistration.deregisterCourses_WSD">
    <wsdl:port name="CampusConnect_work_courseDeregistration_deregisterCourses_WSD_Port" binding="tns:CampusConnect_work_courseDeregistration_deregisterCourses_WSD_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.courseDeregistration.deregisterCourses_WSD/CampusConnect_work_courseDeregistration_deregisterCourses_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
