unterordner/workspace82/Support/src/com/webmethods/caf/is/wsclient/campusconnect/work/eating/showeating_wsd_hk1/showEating_WSD_HK1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="showEating_WSD_HK1" targetNamespace="http://192.168.0.204/CampusConnect.work.eating:showEating_WSD_HK1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.eating:showEating_WSD_HK1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.eating:showEating_WSD_HK1" xmlns:tns="http://192.168.0.204/CampusConnect.work.eating:showEating_WSD_HK1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="showEating" type="tns:showEating"/>
          <xsd:element name="showEatingResponse" type="tns:showEatingResponse"/>
          <xsd:complexType name="showEating">
            <xsd:sequence>
              <xsd:element name="eatingplan" nillable="true" type="tns:eatingplan"/>
              <xsd:element maxOccurs="unbounded" name="eatingplan_local" type="tns:eatingplan_local"/>
              <xsd:element name="date_current" type="xsd:date"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="eatingplan">
            <xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="eatingplan_local">
            <xsd:sequence>
              <xsd:element name="date" nillable="true" type="xsd:date"/>
              <xsd:element name="meal" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="showEatingResponse">
            <xsd:sequence>
              <xsd:element name="mealoffer" nillable="true" type="tns:meal_offer"/>
              <xsd:element maxOccurs="unbounded" name="mealoffer_local" nillable="true" type="tns:mealoffer_local"/>
              <xsd:element name="date" nillable="true" type="xsd:date"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="meal_offer">
            <xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="mealoffer_local">
            <xsd:sequence>
              <xsd:element name="meal" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="showEating_WSD_HK1_PortType_showEatingResponse">
    <wsdl:part name="parameters" element="tns:showEatingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="showEating_WSD_HK1_PortType_showEating">
    <wsdl:part name="parameters" element="tns:showEating">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="showEating_WSD_HK1_PortType">
    <wsdl:operation name="showEating">
      <wsdl:input message="tns:showEating_WSD_HK1_PortType_showEating">
    </wsdl:input>
      <wsdl:output message="tns:showEating_WSD_HK1_PortType_showEatingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_eating_showEating_WSD_HK1_Binder" type="tns:showEating_WSD_HK1_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="showEating">
      <soap:operation soapAction="CampusConnect_work_eating_showEating_WSD_HK1_Binder_showEating" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.eating.showEating_WSD_HK1">
    <wsdl:port name="CampusConnect_work_eating_showEating_WSD_HK1_Port" binding="tns:CampusConnect_work_eating_showEating_WSD_HK1_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.eating.showEating_WSD_HK1/CampusConnect_work_eating_showEating_WSD_HK1_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
