unterordner/workspace82/CampusConnect/src/com/webmethods/caf/is/wsclient/campusconnect/work/enrolment/savestudinfos_wsd/saveStudInfos_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="saveStudInfos_WSD" targetNamespace="http://192.168.0.204/CampusConnect.work.enrolment:saveStudInfos_WSD" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.enrolment:saveStudInfos_WSD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.enrolment:saveStudInfos_WSD" xmlns:tns="http://192.168.0.204/CampusConnect.work.enrolment:saveStudInfos_WSD" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="saveStudInfos" type="tns:saveStudInfos"/>
          <xsd:element name="saveStudInfosResponse" type="tns:saveStudInfosResponse"/>
          <xsd:complexType name="saveStudInfos">
            <xsd:sequence>
              <xsd:element name="studDetails" nillable="true" type="tns:studDetails"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="studDetails">
            <xsd:sequence>
              <xsd:element name="_FIRSTNAME" type="xsd:string"/>
              <xsd:element name="_LASTNAME" type="xsd:string"/>
              <xsd:element name="_ADDRESSLINE1" type="xsd:string"/>
              <xsd:element name="_ADDRESSLINE2" type="xsd:string"/>
              <xsd:element name="_DEGREEPROGRAM" type="xsd:string"/>
              <xsd:element name="_DOB" type="xsd:string"/>
              <xsd:element name="_EMAIL" type="xsd:string"/>
              <xsd:element name="_PHONE" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="saveStudInfosResponse">
            <xsd:sequence>
              <xsd:element name="outputMessage" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="saveStudInfos_WSD_PortType_saveStudInfosResponse">
    <wsdl:part name="parameters" element="tns:saveStudInfosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveStudInfos_WSD_PortType_saveStudInfos">
    <wsdl:part name="parameters" element="tns:saveStudInfos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="saveStudInfos_WSD_PortType">
    <wsdl:operation name="saveStudInfos">
      <wsdl:input message="tns:saveStudInfos_WSD_PortType_saveStudInfos">
    </wsdl:input>
      <wsdl:output message="tns:saveStudInfos_WSD_PortType_saveStudInfosResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_enrolment_saveStudInfos_WSD_Binder" type="tns:saveStudInfos_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="saveStudInfos">
      <soap:operation soapAction="CampusConnect_work_enrolment_saveStudInfos_WSD_Binder_saveStudInfos" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.enrolment.saveStudInfos_WSD">
    <wsdl:port name="CampusConnect_work_enrolment_saveStudInfos_WSD_Port" binding="tns:CampusConnect_work_enrolment_saveStudInfos_WSD_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.enrolment.saveStudInfos_WSD/CampusConnect_work_enrolment_saveStudInfos_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
