unterordner/workspace82/CampusConnect/src/com/webmethods/caf/is/wsclient/campusconnect/work/studentgrades/getallgrades_wsd_hk1/getAllGrades_WSD_HK1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="getAllGrades_WSD_HK1" targetNamespace="http://192.168.0.204/CampusConnect.work.studentGrades:getAllGrades_WSD_HK1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.studentGrades:getAllGrades_WSD_HK1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.studentGrades:getAllGrades_WSD_HK1" xmlns:tns="http://192.168.0.204/CampusConnect.work.studentGrades:getAllGrades_WSD_HK1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="getAllGrades" type="tns:getAllGrades"/>
          <xsd:element name="getAllGradesResponse" type="tns:getAllGradesResponse"/>
          <xsd:complexType name="getAllGrades">
            <xsd:sequence>
              <xsd:element name="studId" nillable="true" type="tns:studId"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:simpleType name="studId">
            <xsd:restriction base="xsd:decimal">
              <xsd:minInclusive value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:complexType name="getAllGradesResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="outputGrades" nillable="true" type="tns:outputGrades"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="outputGrades">
            <xsd:sequence>
              <xsd:element name="courseName" nillable="true" type="xsd:string"/>
              <xsd:element name="courseId" nillable="true" type="xsd:string"/>
              <xsd:element name="grade" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllGrades_WSD_HK1_PortType_getAllGradesResponse">
    <wsdl:part name="parameters" element="tns:getAllGradesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllGrades_WSD_HK1_PortType_getAllGrades">
    <wsdl:part name="parameters" element="tns:getAllGrades">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="getAllGrades_WSD_HK1_PortType">
    <wsdl:operation name="getAllGrades">
      <wsdl:input message="tns:getAllGrades_WSD_HK1_PortType_getAllGrades">
    </wsdl:input>
      <wsdl:output message="tns:getAllGrades_WSD_HK1_PortType_getAllGradesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_studentGrades_getAllGrades_WSD_HK1_Binder" type="tns:getAllGrades_WSD_HK1_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllGrades">
      <soap:operation soapAction="CampusConnect_work_studentGrades_getAllGrades_WSD_HK1_Binder_getAllGrades" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.studentGrades.getAllGrades_WSD_HK1">
    <wsdl:port name="CampusConnect_work_studentGrades_getAllGrades_WSD_HK1_Port" binding="tns:CampusConnect_work_studentGrades_getAllGrades_WSD_HK1_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.studentGrades.getAllGrades_WSD_HK1/CampusConnect_work_studentGrades_getAllGrades_WSD_HK1_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
