unterordner/CampusConnect/src/com/webmethods/caf/is/wsclient/campusconnect/work/coursederegistration/loadstudregisteredcourses_wsd/loadStudRegisteredCourses_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="loadStudRegisteredCourses_WSD" targetNamespace="http://192.168.0.204/CampusConnect.work.courseDeregistration:loadStudRegisteredCourses_WSD" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.courseDeregistration:loadStudRegisteredCourses_WSD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.courseDeregistration:loadStudRegisteredCourses_WSD" xmlns:tns="http://192.168.0.204/CampusConnect.work.courseDeregistration:loadStudRegisteredCourses_WSD" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="loadStudRegisteredCourses" type="tns:loadStudRegisteredCourses"/>
          <xsd:element name="loadStudRegisteredCoursesResponse" type="tns:loadStudRegisteredCoursesResponse"/>
          <xsd:complexType name="loadStudRegisteredCourses">
            <xsd:sequence>
              <xsd:element name="inputStudId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="loadStudRegisteredCoursesResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="outputCourses" nillable="true" type="tns:shortCourseInfo"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="shortCourseInfo">
            <xsd:sequence>
              <xsd:element name="courseId" nillable="true" type="xsd:string"/>
              <xsd:element name="courseName" nillable="true" type="xsd:string"/>
              <xsd:element name="maxParticipants" nillable="true" type="xsd:string"/>
              <xsd:element name="profId" nillable="true" type="xsd:string"/>
              <xsd:element name="profFirstName" nillable="true" type="xsd:string"/>
              <xsd:element name="profLastName" nillable="true" type="xsd:string"/>
              <xsd:element name="profTitle" nillable="true" type="xsd:string"/>
              <xsd:element name="degreeProgram" nillable="true" type="xsd:string"/>
              <xsd:element name="term" nillable="true" type="xsd:string"/>
              <xsd:element name="EquivalentId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="loadStudRegisteredCourses_WSD_PortType_loadStudRegisteredCoursesResponse">
    <wsdl:part name="parameters" element="tns:loadStudRegisteredCoursesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadStudRegisteredCourses_WSD_PortType_loadStudRegisteredCourses">
    <wsdl:part name="parameters" element="tns:loadStudRegisteredCourses">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="loadStudRegisteredCourses_WSD_PortType">
    <wsdl:operation name="loadStudRegisteredCourses">
      <wsdl:input message="tns:loadStudRegisteredCourses_WSD_PortType_loadStudRegisteredCourses">
    </wsdl:input>
      <wsdl:output message="tns:loadStudRegisteredCourses_WSD_PortType_loadStudRegisteredCoursesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_courseDeregistration_loadStudRegisteredCourses_WSD_Binder" type="tns:loadStudRegisteredCourses_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="loadStudRegisteredCourses">
      <soap:operation soapAction="CampusConnect_work_courseDeregistration_loadStudRegisteredCourses_WSD_Binder_loadStudRegisteredCourses" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.courseDeregistration.loadStudRegisteredCourses_WSD">
    <wsdl:port name="CampusConnect_work_courseDeregistration_loadStudRegisteredCourses_WSD_Port" binding="tns:CampusConnect_work_courseDeregistration_loadStudRegisteredCourses_WSD_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.courseDeregistration.loadStudRegisteredCourses_WSD/CampusConnect_work_courseDeregistration_loadStudRegisteredCourses_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
