unterordner/workspace82/CampusConnect_HK/src/com/webmethods/caf/is/wsclient/campusconnect/work/administration/getexmareasons_wsd_mw1/getExmaReasons_WSD_MW1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="getExmaReasons_WSD_MW1" targetNamespace="http://192.168.0.204/CampusConnect.work.administration:getExmaReasons_WSD_MW1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.administration:getExmaReasons_WSD_MW1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.administration:getExmaReasons_WSD_MW1" xmlns:tns="http://192.168.0.204/CampusConnect.work.administration:getExmaReasons_WSD_MW1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="getExmaReasons" type="tns:getExmaReasons"/>
          <xsd:element name="getExmaReasonsResponse" type="tns:getExmaReasonsResponse"/>
          <xsd:complexType name="getExmaReasons">
            <xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getExmaReasonsResponse">
            <xsd:sequence>
              <xsd:element name="reasons" nillable="true" type="tns:reasons"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="reasons">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="reason" nillable="true" type="tns:reason"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="reason">
            <xsd:sequence>
              <xsd:element name="title" nillable="true" type="xsd:string"/>
              <xsd:element name="value" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getExmaReasons_WSD_MW1_PortType_getExmaReasonsResponse">
    <wsdl:part name="parameters" element="tns:getExmaReasonsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExmaReasons_WSD_MW1_PortType_getExmaReasons">
    <wsdl:part name="parameters" element="tns:getExmaReasons">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="getExmaReasons_WSD_MW1_PortType">
    <wsdl:operation name="getExmaReasons">
      <wsdl:input message="tns:getExmaReasons_WSD_MW1_PortType_getExmaReasons">
    </wsdl:input>
      <wsdl:output message="tns:getExmaReasons_WSD_MW1_PortType_getExmaReasonsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_administration_getExmaReasons_WSD_MW1_Binder" type="tns:getExmaReasons_WSD_MW1_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getExmaReasons">
      <soap:operation soapAction="CampusConnect_work_administration_getExmaReasons_WSD_MW1_Binder_getExmaReasons" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.administration.getExmaReasons_WSD_MW1">
    <wsdl:port name="CampusConnect_work_administration_getExmaReasons_WSD_MW1_Port" binding="tns:CampusConnect_work_administration_getExmaReasons_WSD_MW1_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.administration.getExmaReasons_WSD_MW1/CampusConnect_work_administration_getExmaReasons_WSD_MW1_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
