unterordner/workspace82/CampusConnect_HK/src/com/webmethods/caf/is/wsclient/campusconnect/work/enrollment/getapplicantinfos_wsd_hk2/getApplicantInfos_WSD_HK2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="getApplicantInfos_WSD_HK2" targetNamespace="http://192.168.0.204/CampusConnect.work.enrollment:getApplicantInfos_WSD_HK2" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.enrollment:getApplicantInfos_WSD_HK2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.enrollment:getApplicantInfos_WSD_HK2" xmlns:tns="http://192.168.0.204/CampusConnect.work.enrollment:getApplicantInfos_WSD_HK2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="getApplicantInfos" type="tns:getApplicantInfos"/>
          <xsd:element name="getApplicantInfosResponse" type="tns:getApplicantInfosResponse"/>
          <xsd:complexType name="getApplicantInfos">
            <xsd:sequence>
              <xsd:element name="applicantId" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getApplicantInfosResponse">
            <xsd:sequence>
              <xsd:element name="student" nillable="true" type="tns:student"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="student">
            <xsd:sequence>
              <xsd:element name="_FIRSTNAME" type="xsd:string"/>
              <xsd:element name="_LASTNAME" type="xsd:string"/>
              <xsd:element name="_ADDRESSLINE1" type="xsd:string"/>
              <xsd:element name="_ADDRESSLINE2" type="xsd:string"/>
              <xsd:element name="_DEGREEPROGRAM" type="xsd:string"/>
              <xsd:element name="_EMAIL" type="xsd:string"/>
              <xsd:element name="_PHONE" type="xsd:string"/>
              <xsd:element name="_DOB" type="xsd:string"/>
              <xsd:element name="_TERM" type="xsd:decimal"/>
              <xsd:element name="_REGISTERED" type="xsd:string"/>
              <xsd:element name="_ACTIVE" type="xsd:decimal"/>
              <xsd:element name="enrollment" nillable="true" type="tns:enrollment"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="enrollment">
            <xsd:sequence>
              <xsd:element name="citizenship" nillable="true" type="xsd:string"/>
              <xsd:element name="isenrolled" nillable="true" type="xsd:string"/>
              <xsd:element name="entrancetest" nillable="true" type="xsd:string"/>
              <xsd:element name="nc" nillable="true" type="xsd:string"/>
              <xsd:element name="interview" nillable="true" type="xsd:string"/>
              <xsd:element name="exmatriculated" nillable="true" type="xsd:string"/>
              <xsd:element name="seconddegree" nillable="true" type="xsd:string"/>
              <xsd:element name="datepregraduation" nillable="true" type="xsd:string"/>
              <xsd:element name="documents" nillable="true" type="tns:documents"/>
              <xsd:element name="completed" nillable="true" type="xsd:string"/>
              <xsd:element name="payed" nillable="true" type="xsd:string"/>
              <xsd:element name="scoringresult" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="documents">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="document" nillable="true" type="tns:document"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="document">
            <xsd:sequence>
              <xsd:element name="title" nillable="true" type="xsd:string"/>
              <xsd:element name="type" nillable="true" type="xsd:string"/>
              <xsd:element name="existing" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getApplicantInfos_WSD_HK2_PortType_getApplicantInfos">
    <wsdl:part name="parameters" element="tns:getApplicantInfos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getApplicantInfos_WSD_HK2_PortType_getApplicantInfosResponse">
    <wsdl:part name="parameters" element="tns:getApplicantInfosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="getApplicantInfos_WSD_HK2_PortType">
    <wsdl:operation name="getApplicantInfos">
      <wsdl:input message="tns:getApplicantInfos_WSD_HK2_PortType_getApplicantInfos">
    </wsdl:input>
      <wsdl:output message="tns:getApplicantInfos_WSD_HK2_PortType_getApplicantInfosResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_enrollment_getApplicantInfos_WSD_HK2_Binder" type="tns:getApplicantInfos_WSD_HK2_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getApplicantInfos">
      <soap:operation soapAction="CampusConnect_work_enrollment_getApplicantInfos_WSD_HK2_Binder_getApplicantInfos" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.enrollment.getApplicantInfos_WSD_HK2">
    <wsdl:port name="CampusConnect_work_enrollment_getApplicantInfos_WSD_HK2_Port" binding="tns:CampusConnect_work_enrollment_getApplicantInfos_WSD_HK2_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.enrollment.getApplicantInfos_WSD_HK2/CampusConnect_work_enrollment_getApplicantInfos_WSD_HK2_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
