unterordner/workspace82/CampusConnect_HK/src/com/webmethods/caf/is/wsclient/campusconnect/work/enrollment/showapplicantlist_wsd_hk1/showApplicantList_WSD_HK1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="showApplicantList_WSD_HK1" targetNamespace="http://192.168.0.204/CampusConnect.work.enrollment:showApplicantList_WSD_HK1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.enrollment:showApplicantList_WSD_HK1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.enrollment:showApplicantList_WSD_HK1" xmlns:tns="http://192.168.0.204/CampusConnect.work.enrollment:showApplicantList_WSD_HK1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="showApplicantsList" type="tns:showApplicantsList"/>
          <xsd:element name="showApplicantsListResponse" type="tns:showApplicantsListResponse"/>
          <xsd:complexType name="showApplicantsList">
            <xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="showApplicantsListResponse">
            <xsd:sequence>
              <xsd:element name="students" nillable="true" type="tns:students"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="students">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="student" nillable="true" type="tns:student"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="student">
            <xsd:sequence>
              <xsd:element name="_FIRSTNAME" type="xsd:string"/>
              <xsd:element name="_LASTNAME" type="xsd:string"/>
              <xsd:element name="_REGISTERED" type="xsd:string"/>
              <xsd:element name="_ACTIVE" type="xsd:decimal"/>
              <xsd:element name="enrollment" nillable="true" type="tns:enrollment"/>
              <xsd:element name="id" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="enrollment">
            <xsd:sequence>
              <xsd:element name="completed" nillable="true" type="xsd:string"/>
              <xsd:element name="payed" nillable="true" type="xsd:string"/>
              <xsd:element name="scoringresult" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="showApplicantList_WSD_HK1_PortType_showApplicantsList">
    <wsdl:part name="parameters" element="tns:showApplicantsList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="showApplicantList_WSD_HK1_PortType_showApplicantsListResponse">
    <wsdl:part name="parameters" element="tns:showApplicantsListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="showApplicantList_WSD_HK1_PortType">
    <wsdl:operation name="showApplicantsList">
      <wsdl:input message="tns:showApplicantList_WSD_HK1_PortType_showApplicantsList">
    </wsdl:input>
      <wsdl:output message="tns:showApplicantList_WSD_HK1_PortType_showApplicantsListResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_enrollment_showApplicantList_WSD_HK1_Binder" type="tns:showApplicantList_WSD_HK1_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="showApplicantsList">
      <soap:operation soapAction="CampusConnect_work_enrollment_showApplicantList_WSD_HK1_Binder_showApplicantsList" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.enrollment.showApplicantList_WSD_HK1">
    <wsdl:port name="CampusConnect_work_enrollment_showApplicantList_WSD_HK1_Port" binding="tns:CampusConnect_work_enrollment_showApplicantList_WSD_HK1_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.enrollment.showApplicantList_WSD_HK1/CampusConnect_work_enrollment_showApplicantList_WSD_HK1_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
