unterordner/workspace82/CampusConnect/src/com/webmethods/caf/is/wsclient/campusconnect/work/courseregistration/loadfilteredcourses_wsd_hk1/loadFilteredCourses_WSD_HK1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="loadFilteredCourses_WSD_HK1" targetNamespace="http://192.168.0.204/CampusConnect.work.courseRegistration:loadFilteredCourses_WSD_HK1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.courseRegistration:loadFilteredCourses_WSD_HK1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.courseRegistration:loadFilteredCourses_WSD_HK1" xmlns:tns="http://192.168.0.204/CampusConnect.work.courseRegistration:loadFilteredCourses_WSD_HK1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="loadFilteredCoursesInput" type="tns:loadFilteredCoursesInput"/>
          <xsd:element name="loadFilteredCoursesOutput" type="tns:loadFilteredCoursesOutput"/>
          <xsd:complexType name="loadFilteredCoursesInput">
            <xsd:sequence>
              <xsd:element name="studId" nillable="true" type="tns:studId"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:simpleType name="studId">
            <xsd:restriction base="xsd:decimal">
              <xsd:minInclusive value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:complexType name="loadFilteredCoursesOutput">
            <xsd:sequence>
              <xsd:element name="outputCourses" nillable="true" type="tns:outputCourses"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="outputCourses">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="fCL" nillable="true" type="tns:fCL"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="fCL">
            <xsd:sequence>
              <xsd:element name="_COURSEID" type="xsd:decimal"/>
              <xsd:element name="_DEGREEPROGRAM" type="xsd:string"/>
              <xsd:element name="_EQUIVALENTID" type="xsd:decimal"/>
              <xsd:element name="_PROFESSORID" type="xsd:decimal"/>
              <xsd:element name="_COURSENAME" type="xsd:string"/>
              <xsd:element name="_TERM" type="xsd:string"/>
              <xsd:element name="_MAXPARTICIPANTS" type="xsd:decimal"/>
              <xsd:element name="_COURSEDAY" type="xsd:string"/>
              <xsd:element name="_COURSETIME" type="xsd:string"/>
              <xsd:element name="_COURSEROOM" type="xsd:string"/>
              <xsd:element name="_COURSEFINISH" type="xsd:decimal"/>
              <xsd:element name="_AMOUNTREGISTERED" type="xsd:decimal"/>
              <xsd:element name="_PLASTNAME" nillable="true" type="xsd:string"/>
              <xsd:element name="_PFIRSTNAME" nillable="true" type="xsd:string"/>
              <xsd:element name="_PTITEL" nillable="true" type="xsd:string"/>
              <xsd:element name="_PCHAIR" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="loadFilteredCourses_WSD_HK1_PortType_loadFilteredCoursesInput">
    <wsdl:part name="parameters" element="tns:loadFilteredCoursesInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadFilteredCourses_WSD_HK1_PortType_loadFilteredCoursesOutput">
    <wsdl:part name="parameters" element="tns:loadFilteredCoursesOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="loadFilteredCourses_WSD_HK1_PortType">
    <wsdl:operation name="loadFilteredCourses">
      <wsdl:input message="tns:loadFilteredCourses_WSD_HK1_PortType_loadFilteredCoursesInput">
    </wsdl:input>
      <wsdl:output message="tns:loadFilteredCourses_WSD_HK1_PortType_loadFilteredCoursesOutput">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_courseRegistration_loadFilteredCourses_WSD_HK1_Binder" type="tns:loadFilteredCourses_WSD_HK1_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="loadFilteredCourses">
      <soap:operation soapAction="CampusConnect_work_courseRegistration_loadFilteredCourses_WSD_HK1_Binder_loadFilteredCourses" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.courseRegistration.loadFilteredCourses_WSD_HK1">
    <wsdl:port name="CampusConnect_work_courseRegistration_loadFilteredCourses_WSD_HK1_Port" binding="tns:CampusConnect_work_courseRegistration_loadFilteredCourses_WSD_HK1_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.courseRegistration.loadFilteredCourses_WSD_HK1/CampusConnect_work_courseRegistration_loadFilteredCourses_WSD_HK1_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
