unterordner/CampusConnect/src/com/webmethods/caf/is/wsclient/campusconnect/work/personaldata/showpersonaldata_wsd/showPersonalData_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="showPersonalData_WSD" targetNamespace="http://192.168.0.204/CampusConnect.work.personaldata:showPersonalData_WSD" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.personaldata:showPersonalData_WSD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.personaldata:showPersonalData_WSD" xmlns:tns="http://192.168.0.204/CampusConnect.work.personaldata:showPersonalData_WSD" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="showPersonalData" type="tns:showPersonalData"/>
          <xsd:element name="showPersonalDataResponse" type="tns:showPersonalDataResponse"/>
          <xsd:complexType name="showPersonalData">
            <xsd:sequence>
              <xsd:element name="studentId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="showPersonalDataResponse">
            <xsd:sequence>
              <xsd:element name="student" nillable="true" type="tns:student"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="student">
            <xsd:sequence>
              <xsd:element name="studentid" nillable="true" type="xsd:string"/>
              <xsd:element name="firstname" nillable="true" type="xsd:string"/>
              <xsd:element name="lastname" nillable="true" type="xsd:string"/>
              <xsd:element name="registered" nillable="true" type="xsd:string"/>
              <xsd:element name="term" nillable="true" type="xsd:string"/>
              <xsd:element name="degreeprogram" nillable="true" type="xsd:string"/>
              <xsd:element name="dob" nillable="true" type="xsd:string"/>
              <xsd:element name="adressline1" nillable="true" type="xsd:string"/>
              <xsd:element name="adressline2" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="showPersonalData_WSD_PortType_showPersonalDataResponse">
    <wsdl:part name="parameters" element="tns:showPersonalDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="showPersonalData_WSD_PortType_showPersonalData">
    <wsdl:part name="parameters" element="tns:showPersonalData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="showPersonalData_WSD_PortType">
    <wsdl:operation name="showPersonalData">
      <wsdl:input message="tns:showPersonalData_WSD_PortType_showPersonalData">
    </wsdl:input>
      <wsdl:output message="tns:showPersonalData_WSD_PortType_showPersonalDataResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_personaldata_showPersonalData_WSD_Binder" type="tns:showPersonalData_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="showPersonalData">
      <soap:operation soapAction="CampusConnect_work_personaldata_showPersonalData_WSD_Binder_showPersonalData" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.personaldata.showPersonalData_WSD">
    <wsdl:port name="CampusConnect_work_personaldata_showPersonalData_WSD_Port" binding="tns:CampusConnect_work_personaldata_showPersonalData_WSD_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.personaldata.showPersonalData_WSD/CampusConnect_work_personaldata_showPersonalData_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
