unterordner/workspace82/TestPortletProject/src/com/webmethods/caf/is/wsclient/campusconnect/work/editpersonaldatastud/showpersonaldatastud_wsd/showPersonalDataStud_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="showPersonalDataStud_WSD" targetNamespace="http://192.168.0.204/CampusConnect.work.editPersonalDataStud" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.work.editPersonalDataStud" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.work.editPersonalDataStud" xmlns:tns="http://192.168.0.204/CampusConnect.work.editPersonalDataStud" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="showPersonalDataStud" type="tns:showPersonalDataStud"/>
          <xsd:element name="showPersonalDataStudResponse" type="tns:showPersonalDataStudResponse"/>
          <xsd:complexType name="showPersonalDataStud">
            <xsd:sequence>
              <xsd:element name="studId" type="tns:studId"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:simpleType name="studId">
            <xsd:restriction base="xsd:decimal">
              <xsd:minInclusive value="1000001"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:complexType name="showPersonalDataStudResponse">
            <xsd:sequence>
              <xsd:element name="studInfo" nillable="true" type="tns:studInfo"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="studInfo">
            <xsd:sequence>
              <xsd:element name="_FIRSTNAME" nillable="true" type="xsd:string"/>
              <xsd:element name="_LASTNAME" nillable="true" type="xsd:string"/>
              <xsd:element name="_ADDRESSLINE1" nillable="true" type="xsd:string"/>
              <xsd:element name="_ADDRESSLINE2" nillable="true" type="xsd:string"/>
              <xsd:element name="_DEGREEPROGRAM" nillable="true" type="xsd:string"/>
              <xsd:element name="_EMAIL" nillable="true" type="xsd:string"/>
              <xsd:element name="_PHONE" nillable="true" type="xsd:string"/>
              <xsd:element name="_DOB" nillable="true" type="xsd:string"/>
              <xsd:element name="_TERM" nillable="true" type="xsd:string"/>
              <xsd:element name="_STUDENTID" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="showPersonalDataStud_WSD_PortType_showPersonalDataStud">
    <wsdl:part name="parameters" element="tns:showPersonalDataStud">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="showPersonalDataStud_WSD_PortType_showPersonalDataStudResponse">
    <wsdl:part name="parameters" element="tns:showPersonalDataStudResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="showPersonalDataStud_WSD_PortType">
    <wsdl:operation name="showPersonalDataStud">
      <wsdl:input message="tns:showPersonalDataStud_WSD_PortType_showPersonalDataStud">
    </wsdl:input>
      <wsdl:output message="tns:showPersonalDataStud_WSD_PortType_showPersonalDataStudResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_work_editPersonalDataStud_showPersonalDataStud_WSD_Binder" type="tns:showPersonalDataStud_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="showPersonalDataStud">
      <soap:operation soapAction="CampusConnect_work_editPersonalDataStud_showPersonalDataStud_WSD_Binder_showPersonalDataStud" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.work.editPersonalDataStud.showPersonalDataStud_WSD">
    <wsdl:port name="CampusConnect_work_editPersonalDataStud_showPersonalDataStud_WSD_Port" binding="tns:CampusConnect_work_editPersonalDataStud_showPersonalDataStud_WSD_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.work.editPersonalDataStud.showPersonalDataStud_WSD/CampusConnect_work_editPersonalDataStud_showPersonalDataStud_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
