unterordner/workspace82/Support/src/com/webmethods/caf/is/wsclient/campusconnect/utils/courses/getcoursedetails_wsd_hk1/getCourseDetails_WSD_HK1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="getCourseDetails_WSD_HK1" targetNamespace="http://192.168.0.204/CampusConnect.utils.courses:getCourseDetails_WSD_HK1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://192.168.0.204/CampusConnect.utils.courses:getCourseDetails_WSD_HK1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.0.204/CampusConnect.utils.courses:getCourseDetails_WSD_HK1" xmlns:tns="http://192.168.0.204/CampusConnect.utils.courses:getCourseDetails_WSD_HK1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="getCourseDetails" type="tns:getCourseDetails"/>
          <xsd:element name="getCourseDetailsResponse" type="tns:getCourseDetailsResponse"/>
          <xsd:complexType name="getCourseDetails">
            <xsd:sequence>
              <xsd:element name="id" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getCourseDetailsResponse">
            <xsd:sequence>
              <xsd:element name="course" nillable="true" type="tns:course"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="course">
            <xsd:sequence>
              <xsd:element name="_DEGREEPROGRAM" type="xsd:string"/>
              <xsd:element name="_EQUIVALENTID" type="xsd:decimal"/>
              <xsd:element name="_PROFESSORID" type="xsd:decimal"/>
              <xsd:element name="_COURSENAME" type="xsd:string"/>
              <xsd:element name="_TERM" type="xsd:string"/>
              <xsd:element name="_MAXPARTICIPANTS" type="xsd:decimal"/>
              <xsd:element name="_COURSEDAY" type="xsd:string"/>
              <xsd:element name="_COURSETIME" type="xsd:string"/>
              <xsd:element name="_COURSEROOM" type="xsd:string"/>
              <xsd:element name="_COURSEFINISH" type="xsd:decimal"/>
              <xsd:element name="_AMOUNTREGISTERED" type="xsd:decimal"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCourseDetails_WSD_HK1_PortType_getCourseDetailsResponse">
    <wsdl:part name="parameters" element="tns:getCourseDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCourseDetails_WSD_HK1_PortType_getCourseDetails">
    <wsdl:part name="parameters" element="tns:getCourseDetails">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="getCourseDetails_WSD_HK1_PortType">
    <wsdl:operation name="getCourseDetails">
      <wsdl:input message="tns:getCourseDetails_WSD_HK1_PortType_getCourseDetails">
    </wsdl:input>
      <wsdl:output message="tns:getCourseDetails_WSD_HK1_PortType_getCourseDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampusConnect_utils_courses_getCourseDetails_WSD_HK1_Binder" type="tns:getCourseDetails_WSD_HK1_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCourseDetails">
      <soap:operation soapAction="CampusConnect_utils_courses_getCourseDetails_WSD_HK1_Binder_getCourseDetails" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampusConnect.utils.courses.getCourseDetails_WSD_HK1">
    <wsdl:port name="CampusConnect_utils_courses_getCourseDetails_WSD_HK1_Port" binding="tns:CampusConnect_utils_courses_getCourseDetails_WSD_HK1_Binder">
      <soap:address location="http://192.168.0.204:5555/ws/CampusConnect.utils.courses.getCourseDetails_WSD_HK1/CampusConnect_utils_courses_getCourseDetails_WSD_HK1_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
